{% block content %}
	<ul class="servicesUl">
		<li>
			<img class="serviceImg" src="{{ asset('bundles/wdrinoweb/images/s1.png') }}" />
			<div class="serviceBody">
				<h3 class="serviceTitle">
					РАЗРАБОТКА САЙТОВ
				</h3>
				<div class="serviceDelimer"></div>
				<p class="serviceText">
					Разрабатываем сайты любой сложности от сайтов-визиток и landing page, до сложных корпоративных сайтов, порталов и web-магазинов.
				</p>
			</div>
		</li>
		<li></li>
		<li></li>
	</ul>
{% endblock %}